
<div class="content2">
  <div class="container">
    <div class="admintable">
      <div class="container">

        <br><div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h2 class="h2">Relatório</h2>
              <div class="dlab-separator bg-primary"></div><br><br>

              <div class="actions">
                  <div class="row">
                    <%= button_to "Exportar Planilha", backsystem_index_path, method: :get, class: "btn btn-info right" %>
                  </div>
              </div><br>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Presença</th>
                <th scope="col">Certificado</th>
              </tr>
            </thead>
            <tbody>
              <% @students.each do |student| %>
              <tr>
                <td><%= student.name %></td>
                <td><%= student.email %></td>
                <td><%= (student.events.count/@count.to_f).round(2)*100 %>%</td>
                <td><%= button_to "Enviar", backsystem_index_path, method: :get, class: "btn btn-info" %></td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>

          </div><br>

      </div>
    </div>
  </div>
</div>
