<h1> Submissão Simpósio : </h1>

<li><%= @simposio.title %></li>
<li><%= @simposio.author %></li>
<li><%= @simposio.advisor%></li>
<li><%= @simposio.presenter_1 %></li>
<li><%= @simposio.presenter_2 %></li>

