<h1> Submissão Simpósio : </h1>
<h2> Autor: <%= @simposio.author%> </h2>

<li><b>Título :</b> <%= @simposio.title %></li>
<li><b>Autor :</b> <%= @simposio.author %></li>
<li><b>Orientador :</b> <%= @simposio.advisor%></li>
<li><b>Apresentador 1 :</b> <%= @simposio.presenter_1 %></li>
<li><b>Apresentador 2 :</b> <%= @simposio.presenter_2 %></li>

