<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="Event website." />
	<meta name="format-detection" content="telephone=no">

	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.png" />

	<!-- PAGE TITLE HERE -->
	<title>Secomp 2019</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- STYLESHEETS -->

</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
	<!-- header -->
    <header class="site-header header header-transparent">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix onepage">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
											<a href="index.html"><img src="logo.png" alt=""></a>
										</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
											<span></span>
											<span></span>
											<span></span>
										</button>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse navbar myNavba justify-content-end" id="navbarNavDropdown">
											<ul class="nav navbar-nav">
												<li><%= link_to 'home' ,"#app-banner", class: "nav-link scroll"%></li>
												<li><%= link_to 'A Semana' ,"#about-us", class: "nav-link scroll"%></li>
												<li><%= link_to 'Palestras' ,"#lectures", class: "nav-link scroll"%></li>
												<li><%= link_to 'Cursos' ,"#courses", class: "nav-link scroll"%></li>
												<li><%= link_to 'Simpósio' ,"#simposio", class: "nav-link scroll"%></li>
												<li><%= link_to 'Camisetas' ,"#tshirts", class: "nav-link scroll"%></li>
												<li><%= link_to 'Realização' ,"#footer", class: "nav-link scroll"%></li>
											</ul>
										</div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content">
		<!-- Slider -->
        <div class="main-slider style-two app-banner" id="app-banner" >
			<div class="moving-bg"></div>
			<div class="container">
				<div class="row align-items-center full-height">
					<div class="col-md-7 col-lg-8 col-xl-7 dis-tbl align-self-center">
						<div class="dis-tbl-cell">
							<h2 class="text-uppercase">Universo Blockchain</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<div>
								<a href="#register" class="scroll site-button radius-xl outline"><i class="fa fa-play m-r5"></i>Inscrever-se</a>
							</div>
						</div>
					</div>

				</div>
            </div>
		</div>
		<!-- Slider END -->
        <!-- About App Info Us -->
		<div class="section-full bg-white content-inner app-about about-us raindrop" id="register">
			<div class="container">
				<div class="row equal-wraper">

					<div class="col-lg-7 col-md-7 equal-col dis-tbl">
						<div class="dis-tbl-cell p-l40">
							<div class="section-head inner-haed ">
								<h2 class="h2 text-uppercase">Secomp 2019</h2>
								<div class="dlab-separator bg-primary"></div>
								<p>Preencha o formulário de inscrição para participar das atividades da semana da computação.</p>
								</div>
						</div>
					</div>


					<div class="col-lg-5 col-md-5 equal-col dis-tbl m-b30">

						<%= form_for @student , :url => root_path do |form| %>

							<div class='container'>
								<div class='window'>
									<div class='overlay'></div>
									<div class="moving-bg"></div>
									<div class='content'>

										<div class="text-center text-danger">
											<br>
											<% if @student.errors.any?%>
												<% @student.errors.full_messages.each do |mensagem|%>
													<li><%= mensagem %></li>
												<%end%>
											<%end%>
										</div>

										<div class='welcome'>Inscreva-se</div>
										<div class='input-fields'>

											<div class="input-group">
												<%= form.text_field :name, class:"input-line full-width", placeholder: "Nome Completo*"%>
											</div>

											<div class="input-group">
												<%= form.text_field :email, class:"input-line full-width", placeholder: "Email Válido*"%>
											</div>

											<div class="input-group">
												<%= form.text_field :institution, class:"input-line full-width", placeholder: "Instituição de Ensino"%>
											</div>

											<div class="input-group">
												<%= form.text_field :course, class:"input-line full-width", placeholder: "Curso"%>
											</div>

											<div class="input-group">
												<%= form.text_field :registration, class:"input-line full-width", placeholder: "Código de Matrícula"%>
											</div>

											<div class="input-group">
												<%= form.text_field :phone, class:"input-line full-width", placeholder: "Telefone"%>
											</div>

											<div class="">
												<br><%= form.submit "Confirmar", class:"site-button outline radius-xl full-width" %><br><br><br><br>
											</div>

										</div>
									</div>
								</div>
							</div>

						<%end%>

					</div>


				</div>
			</div>
		</div>
		<!-- About App Info END -->

		<!-- Mobile App -->
		<div class="section-full content-inner-2 bg-img-fix overlay-primary-dark" id="about-us" style="background-image: url(images/background/bg1.jpg);">
			<div class="moving-bg"></div>
			<div class="container">
				<div class="row">

					<div class="col-lg-6 col-md-7 equal-col dis-tbl text-white app-content">
						<div class="dis-tbl-cell p-l40">
							<div class="section-head inner-haed ">
								<h2 class="h2 text-uppercase">O que é a SECOMP?</h2>
								<div class="dlab-separator bg-primary"></div>
								<p>Diante da diversidade de áreas na Computação e suas constantes evoluções no
									desenvolvimento de novas tecnologias, a SECOMP (semana universitária de computação),
									durante quinze anos, apresenta-se como um importante meio de divulgação dessa ampla gama
									de conhecimentos.
									<br><br><br>Durante esse período, este evento vem marcando sua importância no âmbito
									acadêmico e profissional, influenciando os mais diversos setores da sociedade.</p>

							</div>

						</div>
					</div>

					<div class="col-lg-6 col-md-7 equal-col dis-tbl text-white app-content">
						<div class="dis-tbl-cell p-l40">
							<div class="section-head inner-haed ">
								<p>O evento consiste em atividades como:</p>

							</div>
							<ul class="list-check">
								<li>Palestras</li>
								<li>Cursos</li>
								<li>Workshops</li>
								<li>Mesa Redonda</li>
								<li>Maratona de Programação</li>
								<li>Gameshow</li>
							</ul>

							<p>Estas atividades são organizadas pelo Programa de Educação
							Tutorial (PET).</p>

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Mobile App END -->

		<!-- Our Latest Blog -->
		<div class="section-full bg-white content-inner-1 dlab-blog-1 owl-btn-center-lr owl-nav-lr raindrop" id="lectures">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="h2 text-uppercase">Palestras</h2>
					<div class="dlab-separator bg-primary"></div>
					<p>São convidados profissionais de diferentes áreas para agregar conhecimentos aos participantes da SECOMP.</p>
				</div>
				<div class="section-content">
					<div class="blog-carousel mfp-gallery owl-loaded owl-theme owl-carousel gallery owl-dots-style">

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/pic1.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>4 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>08:00</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title"><p>Título 1</p></h5>
									</div>
									<div class="ow-post-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><br>
									<a href="#" class="scroll site-button radius-xl outline full-width"><i class="fa fa-play m-r5"></i>Saiba Mais</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/pic1.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>4 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>08:00</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title"><p>Título 2</p></h5>
									</div>
									<div class="ow-post-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><br>
									<a href="#" class="scroll site-button radius-xl outline full-width"><i class="fa fa-play m-r5"></i>Saiba Mais</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/pic1.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>4 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>08:00</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title"><p>Título 3</p></h5>
									</div>
									<div class="ow-post-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><br>
									<a href="#" class="scroll site-button radius-xl outline full-width"><i class="fa fa-play m-r5"></i>Saiba Mais</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/pic1.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>4 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>08:00</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title"><p>Título 4</p></h5>
									</div>
									<div class="ow-post-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><br>
									<a href="#" class="scroll site-button radius-xl outline full-width"><i class="fa fa-play m-r5"></i>Saiba Mais</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- Our Latest Blog END -->

		<!-- Pricing Table -->
		<div class="section-full content-inner app-gallery bg-white owl-btn-center-lr owl-nav-lr raindrop" id="courses">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="h2 text-uppercase">Cursos</h2>
					<div class="dlab-separator bg-primary"></div>
					<p>Minicursos com duração de 6 horas e geração de certificados. Os pagamentos deverão ser efetuados na sede do PET Computação.</p>
					<p>Ao se inscrever em algum curso, o segundo sai pela metade do preço.</p>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li>
										<div class="text-center">
											<br><h3>Curso 1</h3>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 04 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> Laboratório X</li>
									<li><i class="ti-time text-gd"></i> 12:00</li>

									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="#" class="site-button radius-xl outline full-width">Saiba mais</a> </div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li>
										<div class="text-center">
											<br><h3>Curso 2</h3>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 04 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> Laboratório X</li>
									<li><i class="ti-time text-gd"></i> 12:00</li>

									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="#" class="site-button radius-xl outline full-width">Saiba mais</a> </div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li>
										<div class="text-center">
											<br><h3>Curso 3</h3>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 04 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> Laboratório X</li>
									<li><i class="ti-time text-gd"></i> 12:00</li>

									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="#" class="site-button radius-xl outline full-width">Saiba mais</a> </div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li>
										<div class="text-center">
											<br><h3>Curso 4</h3>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 04 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> Laboratório X</li>
									<li><i class="ti-time text-gd"></i> 12:00</li>

									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="#" class="site-button radius-xl outline full-width">Saiba mais</a> </div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Pricing Table END -->

		<!-- Simpósio -->
		<div class="section-full content-inner bg-img-fix overlay-primary-dark text-white" id="simposio" style="background-image: url(images/background/bg2.jpg);">
			<div class="container">
				<div class="section-head text-black text-center m-t30">
					<h2 class="h2 text-uppercase">Submeter Trabalho</h2>
					<div class="dlab-separator bg-white"></div>
					<p>Oportunidade para os alunos de Ciência da Computação, e áreas afins, divulgarem seus trabalhos e pesquisas.</p>
				</div>

				<%= render partial: "simposio" %>

			</div>
		</div>
		<!-- Simpósio END -->

		<!-- T-Shirts -->
		<div class="section-full content-inner app-gallery bg-white owl-btn-center-lr owl-nav-lr raindrop" id="tshirts">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="h2 text-uppercase">Camisetas</h2>
					<div class="dlab-separator bg-primary"></div>
					<p>Todas as camisetas estarão à venda durante os dias do evento. No valor de R$00,00.</p>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="app-carousel owl-loaded owl-theme owl-carousel">
							<div class="item">
								<img src="images/app/pic1.jpg" alt="camiseta secomp 2019"/>
							</div>
							<div class="item">
								<img src="images/app/pic2.jpg" alt="camiseta secomp 2019"/>
							</div>
							<div class="item">
								<img src="images/app/pic3.jpg" alt="camiseta secomp 2019"/>
							</div>
							<div class="item">
								<img src="images/app/pic4.jpg" alt="camiseta secomp 2019"/>
							</div>
							<div class="item">
								<img src="images/app/pic5.jpg" alt="camiseta secomp 2019"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- T-Shirts END -->

	</div>

	<!-- Footer -->
    <footer class="trans-footer bg-dark-blue" id="footer" >
			<div class="moving-bg"></div>
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 text-center m-b30">
											<h4>Realização</h4>

											<div class="row">
												<div class="col-lg-6 text-center m-b30">
													<img src="images/logos/uece.png" alt="Universidade Estadual do Ceará"/>
												</div>

												<div class="col-lg-5 text-center m-b30">
													<img src="images/logos/pet.png" alt="Pet Computação UECE"/>
												</div>
											</div>

                    </div>

										<div class="col-lg-6 text-center m-b30">
											<h4>Apoio</h4>

											<div class="row">
												<div class="col-lg-6 text-center m-b30">
													<img src="images/logos/acens.png" alt="Acens Empresa Júnior"/>
												</div>

												<div class="col-lg-6 text-center m-b30">
													<img src="images/logos/cryptumlab.png" alt="Cryptumlab"/>
												</div>
											</div>

											<div class="row">
												<div class="col-lg-6 text-center m-b30">
													<img src="images/logos/prae.png" alt="PRAE"/>
												</div>

												<div class="col-lg-6 text-center m-b30">
													<img src="images/logos/gracom.png" alt="Gracom"/>
												</div>
											</div>

                    </div>


                </div>

								<div class="row">
									<div class="col-lg-12 m-t20 text-center">
										<ul class="list-inline">
											© Desenvolvido por: <a target="_blank" href="http://acensjr.com">Acens</a> |
											<li><a target="_blank "href="https://www.instagram.com/acensjr/" class=""><i class="ti-instagram"></i></a></li>
											<li><a target="_blank "href="https://www.facebook.com/acensjunior" class=""><i class="fa fa-facebook"></i></a></li>
										</ul>
									</div>
								</div>

            </div>
        </div>

    <!-- Footer END-->
    <!-- scroll top button -->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JavaScript  files ========================================= -->

</body>
</html>
