<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="Event website." />
	<meta name="format-detection" content="telephone=no">

	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.png" />

	<!-- PAGE TITLE HERE -->
	<title>Secomp 2019</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- STYLESHEETS -->

</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
	<!-- header -->
    <header class="site-header header header-transparent">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix onepage">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
											<a href="index.html"><img src="logo.png" alt=""></a>
										</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
											<span></span>
											<span></span>
											<span></span>
										</button>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse navbar myNavba justify-content-end" id="navbarNavDropdown">
											<ul class="nav navbar-nav">
												<li><%= link_to 'home' ,"#app-banner", class: "nav-link scroll"%></li>
												<li><%= link_to 'A Semana' ,"#about-us", class: "nav-link scroll"%></li>
												<li><%= link_to 'Palestras' ,"#lectures", class: "nav-link scroll"%></li>
												<li><%= link_to 'Cursos' ,"#courses", class: "nav-link scroll"%></li>
												<li><%= link_to 'Camisetas' ,"#tshirts", class: "nav-link scroll"%></li>
												<li><%= link_to 'Simpósio' ,"#simposio", class: "nav-link scroll"%></li>
												<li><%= link_to 'Extra' ,"#footer", class: "nav-link scroll"%></li>
											</ul>
										</div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content">
		<!-- Slider -->
        <div class="main-slider style-two app-banner" id="app-banner" >
			<div class="moving-bg"></div>
			<div class="container">
				<div class="row align-items-center full-height">
					<div class="col-md-7 col-lg-8 col-xl-7 dis-tbl align-self-center">
						<div class="dis-tbl-cell">
							<h2 class="text-uppercase">Universo Blockchain</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<div>
								<a href="#register" class="scroll site-button radius-xl outline"><i class="fa fa-play m-r5"></i>Inscrever-se</a>
							</div>
						</div>
					</div>

				</div>
            </div>
		</div>
		<!-- Slider END -->
        <!-- About App Info Us -->
		<div class="section-full bg-white content-inner app-about about-us raindrop" id="register">
			<div class="container">
				<div class="row equal-wraper">

					<div class="col-lg-7 col-md-7 equal-col dis-tbl">
						<div class="dis-tbl-cell p-l40">
							<div class="section-head inner-haed ">
								<h2 class="h2 text-uppercase">Secomp 2019</h2>
								<div class="dlab-separator bg-primary"></div>
								<p>Preencha o formulário de inscrição para participar das atividades da semana da computação.</p>
								</div>
						</div>
					</div>


					<div class="col-lg-5 col-md-5 equal-col dis-tbl m-b30">

						<%= form_for @student , :url => root_path do |form| %>

							<% if @student.errors.any?%>
	          		<% @student.errors.full_messages.each do |mensagem|%>
	              	<li><%= mensagem %></li>
	          		<%end%>
	        		<%end%>

							<div class='container'>
								<div class='window'>
									<div class='overlay'></div>
									<div class="moving-bg"></div>
									<div class='content'>
										<div class='welcome'>Inscreva-se</div>
										<div class='input-fields'>

											<div class="input-group">
												<%= form.text_field :name, class:"input-line full-width", placeholder: "Nome Completo*"%>
											</div>

											<div class="input-group">
												<%= form.text_field :email, class:"input-line full-width", placeholder: "Email Válido*"%>
											</div>

											<div class="input-group">
												<%= form.text_field :institution, class:"input-line full-width", placeholder: "Instituição de Ensino"%>
											</div>

											<div class="input-group">
												<%= form.text_field :course, class:"input-line full-width", placeholder: "Curso"%>
											</div>

											<div class="input-group">
												<%= form.text_field :registration, class:"input-line full-width", placeholder: "Código de Matrícula"%>
											</div>

											<div class="input-group">
												<%= form.text_field :phone, class:"input-line full-width", placeholder: "Telefone"%>
											</div>

											<div class="">
												<br><%= form.submit "Confirmar", class:"site-button outline radius-xl full-width" %><br><br><br><br>
											</div>
										</div>
									</div>
								</div>
							</div>

						<%end%>

					</div>


				</div>
			</div>
		</div>
		<!-- About App Info END -->

		<!-- Mobile App -->
		<div class="section-full content-inner-2 bg-img-fix overlay-primary-dark" id="about-us" style="background-image: url(images/background/bg1.jpg);">
			<div class="moving-bg"></div>
			<div class="container">
				<div class="row">

					<div class="col-lg-6 col-md-7 equal-col dis-tbl text-white app-content">
						<div class="dis-tbl-cell p-l40">
							<div class="section-head inner-haed ">
								<h2 class="h2 text-uppercase">O que é a SECOMP?</h2>
								<div class="dlab-separator bg-primary"></div>
								<p>Diante da diversidade de áreas na Computação e suas constantes evoluções no
									desenvolvimento de novas tecnologias, a SECOMP (semana universitária de computação),
									durante quinze anos, apresenta-se como um importante meio de divulgação dessa ampla gama
									de conhecimentos.
									<br><br><br>Durante esse período, este evento vem marcando sua importância no âmbito
									acadêmico e profissional, influenciando os mais diversos setores da sociedade.</p>

							</div>

						</div>
					</div>

					<div class="col-lg-6 col-md-7 equal-col dis-tbl text-white app-content">
						<div class="dis-tbl-cell p-l40">
							<div class="section-head inner-haed ">
								<p>O evento consiste em atividades como:</p>

							</div>
							<ul class="list-check">
								<li>Palestras</li>
								<li>Cursos</li>
								<li>Workshops</li>
								<li>Mesa Redonda</li>
								<li>Maratona de Programação</li>
								<li>Gameshow</li>
							</ul>

							<p>Estas atividades são organizadas pelo Programa de Educação
							Tutorial (PET) e pela Acens, Empresa Júnior da Computação.</p>

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Mobile App END -->

		<!-- Our Latest Blog -->
		<div class="section-full bg-white content-inner-1 dlab-blog-1 owl-btn-center-lr owl-nav-lr raindrop" id="lectures">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="h2 text-uppercase">Palestras</h2>
					<div class="dlab-separator bg-primary"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="section-content">
					<div class="blog-carousel mfp-gallery owl-loaded owl-theme owl-carousel gallery owl-dots-style">

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/pic1.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>4 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>08:00</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title"><p>Título 1</p></h5>
									</div>
									<div class="ow-post-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><br>
									<a href="#" class="scroll site-button radius-xl outline full-width"><i class="fa fa-play m-r5"></i>Saiba Mais</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/pic1.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>4 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>08:00</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title"><p>Título 2</p></h5>
									</div>
									<div class="ow-post-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><br>
									<a href="#" class="scroll site-button radius-xl outline full-width"><i class="fa fa-play m-r5"></i>Saiba Mais</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/pic1.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>4 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>08:00</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title"><p>Título 3</p></h5>
									</div>
									<div class="ow-post-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><br>
									<a href="#" class="scroll site-button radius-xl outline full-width"><i class="fa fa-play m-r5"></i>Saiba Mais</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/pic1.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>4 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>08:00</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title"><p>Título 4</p></h5>
									</div>
									<div class="ow-post-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div><br>
									<a href="#" class="scroll site-button radius-xl outline full-width"><i class="fa fa-play m-r5"></i>Saiba Mais</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- Our Latest Blog END -->

		<!-- Pricing Table -->
		<div class="section-full content-inner app-gallery bg-white owl-btn-center-lr owl-nav-lr raindrop" id="courses">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="h2 text-uppercase">Cursos</h2>
					<div class="dlab-separator bg-primary"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li>
										<div class="text-center">
											<br><h3>Curso 1</h3>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 04 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> Laboratório X</li>
									<li><i class="ti-time text-gd"></i> 12:00</li>

									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="#" class="site-button radius-xl outline full-width">Saiba mais</a> </div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li>
										<div class="text-center">
											<br><h3>Curso 2</h3>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 04 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> Laboratório X</li>
									<li><i class="ti-time text-gd"></i> 12:00</li>

									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="#" class="site-button radius-xl outline full-width">Saiba mais</a> </div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li>
										<div class="text-center">
											<br><h3>Curso 3</h3>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 04 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> Laboratório X</li>
									<li><i class="ti-time text-gd"></i> 12:00</li>

									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="#" class="site-button radius-xl outline full-width">Saiba mais</a> </div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li>
										<div class="text-center">
											<br><h3>Curso 4</h3>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 04 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> Laboratório X</li>
									<li><i class="ti-time text-gd"></i> 12:00</li>

									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="#" class="site-button radius-xl outline full-width">Saiba mais</a> </div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Pricing Table END -->

		<!-- App Screenshots -->
		<div class="section-full content-inner app-gallery bg-white owl-btn-center-lr owl-nav-lr raindrop" id="tshirts">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="h2 text-uppercase">Camisetas</h2>
					<div class="dlab-separator bg-primary"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="app-carousel owl-loaded owl-theme owl-carousel">
							<div class="item">
								<img src="images/app/pic1.jpg" alt="camiseta secomp 2019"/>
							</div>
							<div class="item">
								<img src="images/app/pic2.jpg" alt="camiseta secomp 2019"/>
							</div>
							<div class="item">
								<img src="images/app/pic3.jpg" alt="camiseta secomp 2019"/>
							</div>
							<div class="item">
								<img src="images/app/pic4.jpg" alt="camiseta secomp 2019"/>
							</div>
							<div class="item">
								<img src="images/app/pic5.jpg" alt="camiseta secomp 2019"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- App Screenshots END -->


		<!-- Simpósio -->
		<div class="section-full content-inner bg-img-fix overlay-primary-dark text-white" id="simposio" style="background-image: url(images/background/bg2.jpg);">
			<div class="container">
				<div class="section-head text-black text-center m-t30">
					<h2 class="h2 text-uppercase">Submeter Trabalho</h2>
					<div class="dlab-separator bg-white"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>

				<div class="max-w600 m-auto m-t30 subscribe-form">
					<form role="search" method="post">
						<div class="input-group">
							<input name="text" class="form-control" placeholder="Título" type="text"/>
						</div><br>

						<div class="input-group">
							<input name="text" class="form-control" placeholder="Autores" type="text"/>
						</div><br>

						<div class="input-group">
							<input name="text" class="form-control" placeholder="Professor Orientador" type="text"/>
						</div><br>

						<div class="input-group">
							<input name="text" class="form-control" placeholder="Apresentador 1" type="text"/>
							<input name="text" class="form-control" placeholder="Apresentador 2" type="text"/>
						</div><br>

						<div class=""> <a href="#" class="site-button radius-xl full-width">Enviar!</a> </div>

					</form>
				</div>

			</div>
		</div>
		<!-- Simpósio END -->

	</div>

	<!-- Footer -->
    <footer class="site-footer trans-footer bg-img-fix bg-img-fix" id="footer" style="background-image:url(images/background/bg7.jpg); background-size:cover; background-position:bottom; ">
		<div class="moving-bg"></div>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center m-b30">
                        <h2 class="text-white font-weight-300">Subscribe To Our Newsletter</h2>
						<p class="max-w600 m-auto p-b20 text-white font-15">If you have any questions, you can contact with us so that we can give you a satisfying answer. Subscribe to our newsletter to get our latest products, news and events.</p>
						<div class="max-w600 m-auto m-t30 subscribe-form">
							<form role="search" method="post">
								<div class="input-group">
									<input name="text" class="form-control" placeholder="Your Email Id" type="text"/>
									<span class="input-group-btn">
										<button type="submit" class="site-button radius-xl">Subscribe Now</button>
									</span>
								</div>
							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom text-center">
            <div class="container p-tb10">
				<div class="row">
                    <div class="col-lg-12 col-sm-12 m-b30">
						<img src="images/logo-white.png" alt="" width="120">
					</div>
				</div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
						<div class="widget-link ">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="../about-1.html">About</a></li>
								<li><a href="../help-desk.html">Help Desk</a></li>
								<li><a href="../privacy-policy.html">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 m-t20">
						<ul class="list-inline">
							<li><a href="#" class="site-button circle-sm"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="site-button circle-sm"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="site-button circle-sm"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" class="site-button circle-sm"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="site-button circle-sm"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
    <!-- scroll top button -->
    <button class="scroltop fa fa-chevron-up" ></button>
</div>
<!-- JavaScript  files ========================================= -->

</body>
</html>
