	  <div class="content2">
	    <div class="container">
				<div class="admintable">
					<div class="container">

						<br><div class="col-md-12">
							<div class="row">
								<div class="col-md-5">
									<h2 class="h2">Alunos</h2>
								</div>
								<div class="col-md-5">
									<!-- Filter -->
								</div>
								<div class="col-md-2">
									<%= button_to "Adicionar", new_backsystem_student_path, method: :get, class: "btn btn-info" %>
								</div>
							</div>
							<div class="dlab-separator bg-primary"></div>
						</div>

						<div class="table-responsive">
							<table class="table table-sm table-striped">
								<thead>
									<tr>
										<th scope="col">Nome</th>
										<th scope="col">Email</th>
										<th scope="col">Instituição</th>
										<th scope="col">Curso</th>
										<th scope="col">Matrícula</th>
										<th scope="col">Telefone</th>
										<th scope="col">Editar</th>
										<th scope="col">Deletar</th>
									</tr>
								</thead>
								<tbody>
									<% @students.each do |student| %>
									<tr>
										<td><%= student.name %></td>
										<td><%= student.email %></td>
										<td><%= student.institution %></td>
										<td><%= student.course %></td>
										<td><%= student.registration %></td>
										<td><%= student.phone %></td>

										<td><%= button_to student_url(student), class: "btn btn-info" do %>
                    <i class="ti-pencil"></i><% end %></td>

										<td><%= button_to student_url(student), method: :delete, class: "btn btn-danger",
                  data: {confirm: "Tem certeza que deseja remover #{student.name}?"} do%>
                  <i class="ti-trash"></i><% end %></td>
									</tr>
									<%end%>
								</tbody>
							</table>
						</div>


					</div>
		    </div>
			</div>
	  </div>
