<div class="sidebar">
    <%= link_to backsystem_path do %>
        <%= image_tag "/logo2.png" , alt: "Logo Secomp"%>
    <%end%>
    
    <%= link_to backsystem_events_path do %>
        <i class="fa fa-calendar"></i> Eventos
    <%end%>
    
    <%= link_to backsystem_students_path do %>
        <i class="fa fa-user"></i> Alunos
    <%end%>

    <%= link_to backsystem_events_path do %>
        <i class="fa fa-bookmark"></i> Secomps
    <%end%>
</div>
