<div class="max-w600 m-auto m-t30">
    
    <%= form_for @simposio, :url => "/send_simposio" , :action => "send_symposium" do |form |%>
    
    <div class="input-group subscribe-form">
        <%= form.text_field :title, class:"form-control", placeholder: "Título do Trabalho"%>
    </div><br>

    <div class="input-group subscribe-form">
      <%= form.text_field :author, class:"form-control", placeholder: "Autores"%>
    </div><br>

    <div class="input-group subscribe-form">
      <%= form.text_field :advisor, class:"form-control", placeholder: "Professor Orientador"%>
    </div><br>

    <div class="input-group subscribe-form">
      <%= form.text_field :presenter_1, class:"form-control", placeholder: "Apresentador 1"%>
      <%= form.text_field :presenter_2, class:"form-control", placeholder: "Apresentador 2"%>
    </div><br>

    <div class="form-group text-right">
      <%= form.file_field :file,
       class:"site-button input-file text-left full-width form-control",
       placeholder: "Enviar Simposio",
       accept: 'application/pdf' %>
    </div>

    <div class=""> 
       <%= form.submit "Enviar", class:"site-button radius-xl full-width" %>
    </div>

  <%end%>
</div>
