<div class="max-w600 m-auto m-t30">
    
    <% if @simposio.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" style="float:rigth;">
        <% @simposio.errors.full_messages.each do |mensagem|%>
          <li><strong><%= mensagem %><strong></li>
        <%end%>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <%end%>

    <% unless notice.blank?%>
      <div class="alert alert-success alert-dismissible fade show" style="float:rigth;">

          <li><strong><%= notice %><strong></li>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <%end%>

    <% unless alert.blank?%>
      <div class="alert alert-danger alert-dismissible fade show" style="float:rigth;">

          <li><strong><%= alert %><strong></li>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <%end%>

    <%= form_for @simposio, url: { action: "send_symposium", anchor: "simposio" } do |form |%>
    
      <div class="input-group subscribe-form">
          <%= form.text_field :title, class:"form-control", placeholder: "Título do Trabalho"%>
      </div><br>

      <div class="input-group subscribe-form">
        <%= form.text_field :author, class:"form-control", placeholder: "Autores"%>
      </div><br>

      <div class="input-group subscribe-form">
        <%= form.text_field :advisor, class:"form-control", placeholder: "Professor Orientador"%>
      </div><br>

      <div class="input-group subscribe-form">
        <%= form.text_field :presenter_1, class:"form-control", placeholder: "Apresentador 1"%>
        <%= form.text_field :presenter_2, class:"form-control", placeholder: "Apresentador 2"%>
      </div><br>

      <div class="form-group text-right">
        <%= form.file_field :file,
        class:"site-button input-file text-left full-width form-control",
        placeholder: "Enviar Simposio",
        accept: 'application/pdf' %>
      </div>

      <div class=""> 
        <%= form.submit "Enviar", class:"site-button radius-xl full-width" %>
      </div>

  <%end%>
</div>
