<div id="loading-area"></div>
<div class="page-wraper">
	<!-- header -->
	<header class="site-header header header-transparent">
		<!-- main header -->
		<div class="sticky-header main-bar-wraper navbar-expand-lg">
			<div class="main-bar clearfix onepage">
				<div class="container clearfix">
					<!-- website logo -->
					<div class="logo-header mostion">
						<a><img src="logo.png" alt=""></a>
					</div>
					<!-- nav toggle button -->
					<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse"
					 data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<!-- main nav -->
					<div class="header-nav navbar-collapse collapse navbar myNavba justify-content-end" id="navbarNavDropdown">
						<ul class="nav navbar-nav">
							<li>
								<%= link_to 'home' ,"#app-banner", class: "nav-link scroll"%>
							</li>
							<li>
								<%= link_to 'A Semana' ,"#about-us", class: "nav-link scroll"%>
							</li>
							<li>
								<%= link_to 'Palestras' ,"#lectures", class: "nav-link scroll"%>
							</li>
							<li>
								<%= link_to 'Cursos' ,"#courses", class: "nav-link scroll"%>
							</li>
							<li>
								<%= link_to 'Maratona' ,"#marathon", class: "nav-link scroll"%>
							</li>
							<li>
								<%= link_to 'Simpósio' ,"#simposio", class: "nav-link scroll"%>
							</li>
							<li>
								<%= link_to 'Camisetas' ,"#tshirts", class: "nav-link scroll"%>
							</li>
							<li>
								<%= link_to 'Realização' ,"#footer", class: "nav-link scroll"%>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- main header END -->
	</header>
	<!-- header END -->


	<!-- Content -->
	<div class="page-content">
		<!-- Slider -->

		<div class="main-slider style-two app-banner" id="app-banner">
		<div class="row align-items-center full-height">
			<!-- <div class="moving-bg"></div> -->
			<div class="container">

					<div class="col-md-7 col-lg-8 col-xl-7 dis-tbl align-self-center">
						<div class="dis-tbl-cell">
							<h2 class="text-uppercase">Universo Blockchain</h2>
							<p>Semana da Computação 2019 | De 01 à 05 de abril</p>
							<div>
								<a href="#register" class="scroll site-button radius-xl overlap-z outline"><i class="fa fa-play m-r5"></i>Inscrever-se</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Slider END -->
		<!-- Register -->
		<div class="section-full bg-white content-inner app-about about-us raindrop" id="register">
			<div class="container">
				<div class="row equal-wraper">

					<div class="col-lg-7 col-md-7 equal-col dis-tbl">
						<div class="dis-tbl-cell p-l40">
							<div class="section-head inner-haed ">
								<% if @student.errors.any?%>
									<div class="alert alert-danger alert-dismissible fade show" style="float:rigth;">
										<% @student.errors.full_messages.each do |mensagem|%>
											<li><strong><%= mensagem %><strong></li>
										<%end%>

										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								<%end%>
								<% unless notice.blank?%>
									<div class="alert alert-success alert-dismissible fade show" style="float:rigth;">

											<li><strong><%= notice %><strong></li>

										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								<%end%>

								<h2 class="h2 text-uppercase">Secomp 2019</h2>
								<div class="dlab-separator bg-primary"></div>
								<p>Preencha o formulário de inscrição para participar das atividades da semana da computação.</p>
								<p>Os participantes inscritos que obtiverem pelo menos 75% de presença nas atividades receberão um Certificado.</p>
								<p>Os Certificados serão entregues em até 3 semanas após o encerramento do evento.</p>
								<p>Confira o <a href="https://drive.google.com/open?id=1bmTb8DvW1uibfewXJn7ddVbGdtmltDkd" class="text-gd"><b>Cronograma</b></a></p>
							</div>
						</div>
					</div>


					<div class="col-lg-5 col-md-5 equal-col dis-tbl m-b30">


						<div class='container'>
							<div class='window'>
								<div class='overlay'></div>
								<!-- <div class="moving-bg"></div> -->
								<div class='content'>

									<div class='welcome'>Inscreva-se</div>
									<div class='input-fields '>


									<%= form_for @student, url: {action: "create" , anchor: "register"} do |form| %>

										<div class="input-group ">
											<%= form.text_field :name, class:"input-line full-width", placeholder: "Nome Completo*"%>
										</div>

										<div class="input-group">
											<%= form.email_field :email, class:"input-line full-width", placeholder: "Email Válido*"%>
										</div>

										<div class="input-group">
											<%= form.text_field :institution, class:"input-line full-width", placeholder: "Instituição de Ensino"%>
										</div>

										<div class="input-group">
											<%= form.text_field :course, class:"input-line full-width", placeholder: "Curso"%>
										</div>

										<div class="input-group">
											<%= form.text_field :registration,
												class: "input-line full-width",
												placeholder: "Código de Matrícula",
												maxlength: 7
											%>
										</div>

										<div class="input-group">
											<%= form.text_field :phone, class:"input-line full-width", placeholder: "Telefone"%>
										</div>

										<div class="">
											<br>
											<%= form.submit "Confirmar", class:"site-button outline radius-xl full-width" %><br><br><br><br>
										</div>
									<%end%>

									</div>
								</div>
							</div>
						</div>


					</div>


				</div>
			</div>
		</div>
		<!-- Register -->

		<!-- About Info -->
		<div class="section-full content-inner-2 bg-img-fix overlay-primary-dark" id="about-us" style="background-image: url(images/background/bg1.jpg);">
			<!-- <div class="moving-bg"></div> -->
			<div class="container">
				<div class="row">

					<div class="col-lg-6 col-md-7 equal-col dis-tbl text-white app-content">
						<div class="section-head inner-haed ">
							<h2 class="h2 text-uppercase">O que é a SECOMP?</h2>
							<div class="dlab-separator bg-primary"></div>
							<p>Diante da diversidade de áreas na Computação e suas constantes evoluções no
								desenvolvimento de novas tecnologias, a SECOMP (semana universitária de computação),
								durante quinze anos, apresenta-se como um importante meio de divulgação dessa ampla gama
								de conhecimentos.
								<br><br><br>Durante esse período, este evento vem marcando sua importância no âmbito
								acadêmico e profissional, influenciando os mais diversos setores da sociedade.</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-7 equal-col dis-tbl text-white app-content">
						<div class="section-head inner-haed ">
							<p>O evento consiste em atividades como:</p>
						</div>
						<ul class="list-check">
							<li>Palestras</li>
							<li>Cursos</li>
							<li>Workshops</li>
							<li>Mesa Redonda</li>
							<li>Maratona de Programação</li>
							<li>Gameshow</li>
						</ul>
						<p>Estas atividades são organizadas pelo Programa de Educação
							Tutorial (PET).
						</p>
				</div>

				</div>
			</div>
		</div>
		<!-- About Info END -->

		<!-- Lectures -->
		<div class="section-full bg-white content-inner-1 dlab-blog-1 owl-btn-center-lr owl-nav-lr raindrop" id="lectures">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="h2 text-uppercase">Palestras</h2>
					<div class="dlab-separator bg-primary"></div>
					<p>São convidados profissionais de diferentes áreas para agregar conhecimentos aos participantes da SECOMP.</p>
				</div>
				 <div class="section-content">
					<div class="blog-carousel mfp-gallery owl-loaded owl-theme owl-carousel gallery owl-dots-style">

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/palestra01.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>2 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>10:00</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title">
											<p>Blockchain: Desafios e Oportunidades Profissionais<br><br></p>
										</h5>
									</div>
									<div class="ow-post-text lecture-text">
										<p>Compreenda os principais conceitos envolvidos no desenvolvimento
											de soluções baseadas em  Blockchain, bem como os desafios associados a tal processo... <a href="https://drive.google.com/file/d/1Yji8tIPq_b_AT7f_63UsVLJ6nDmlWbcP/view" target="_blank" class="text-gd">Continue lendo!</a></p>
									</div><br>
									<a><i class="text-gd ti-user"></i> Com: </a><a class="text-gd"> Allysson Allex Araújo</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/palestra02.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>3 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>08:20</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title">
											<p>Aspectos práticos da proteção da Propriedade Intelectual de Programas de Computador</p>
										</h5>
									</div>
									<div class="ow-post-text lecture-text">
										<p>A palestra irá abordar as possibilidades e
											os benefícios da proteção da Propriedade Intelectual
											de Programas de Computador, destacando as
											possibilidades de registro do código fonte... <a href="https://drive.google.com/file/d/1Ax1ayId8nd8H8EUAv7g1_Rpoprl8wyk3/view" target="_blank" class="text-gd">Continue lendo!</a></p>
									</div><br>
									<a><i class="text-gd ti-user"></i> Com: </a><a class="text-gd"> Bruno Figueiredo</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/palestra03.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>3 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>10:00</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title">
											<p>Mineração de repositórios de software: pesquisa e aplicações na academia e indústria</p>
										</h5>
									</div>
									<div class="ow-post-text lecture-text">
										<p>Esta palestra abordará esta metodologia de pesquisa, mostrando seu
											início e passando por exemplos notáveis de aplicações na academia e
											 indústria. Será apresentada uma pesquisa... <a href="https://drive.google.com/file/d/179KbfO7N6AeSfO63LtaNQDTAwXlmsIQ6/view" target="_blank" class="text-gd">Continue lendo!</a></p>
									</div><br>
									<a><i class="text-gd ti-user"></i> Com: </a><a class="text-gd"> Matheus Paixão</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/palestra04.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>4 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>08:20</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title">
											<p>O mercado e metodologia em projetos de pesquisa: cases do Instituto Atlântico</p>
										</h5>
									</div>
									<div class="ow-post-text lecture-text">
										<p>Apresentar as quatro plataformas atuais de pesquisa do instituto
										Atlântico: IoT, Segurança da Informação, Ciência de dados e Visão computacional,
										assim como projetos que já... <a href="https://drive.google.com/file/d/1Kwqfh-BKHQvVHI47ZxKjTUVikTct1r6K/view" target="_blank" class="text-gd">Continue lendo!</a></p>
									</div><br>
									<a><i class="text-gd ti-user"></i> Com: </a><a class="text-gd"> Alano Martins</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="ow-blog-post date-style-2">
								<div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/our-work/palestra05.jpg" alt=""> </div>
								<div class="ow-post-info bg-dark-black">
									<div class="ow-post-meta">
										<ul>
											<li> <i class="ti-calendar"></i>5 de Abril </li>
											<li><i class="ti-location-pin"></i>Auditório Central </li>
											<li> <i class="ti-time"></i>08:00</li>
										</ul>
									</div>
									<div class="ow-post-title">
										<h5 class="post-title">
											<p>Inteligência Artificial e Suas Aplicações <span class="text-green">(Palestra destinada aos alunos das escolas)</span></p>
										</h5>
									</div>
									<div class="ow-post-text lecture-text">
										<p>O objetivo da palestra é apresentar, de forma simples e didática,
										a Inteligência Artificial como uma tecnologia computacional transformadora e suas
										diversas aplicações... <a href="https://drive.google.com/file/d/1moLuth9ZM0ctXdvHbT7P7zRZ9jz8M2lB/view" target="_blank" class="text-gd">Continue lendo!</a></p>
									</div><br>
									<a><i class="text-gd ti-user"></i> Com: </a><a class="text-gd"> Dr. Jerffeson Teixeira</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- Lectures END -->

		<!-- Courses -->
		<div class="section-full content-inner app-gallery bg-white owl-btn-center-lr owl-nav-lr raindrop" id="courses">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="h2 text-uppercase">Cursos</h2>
					<div class="dlab-separator bg-primary"></div>
					<p>Minicursos com duração de 6 horas e geração de certificados. Os pagamentos deverão ser efetuados na sede do PET
						Computação.</p>
					<p>Ao se inscrever em algum curso, o segundo sai pela metade do preço.</p>
				</div>
				 <div class="row">
					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li class="course-title d-flex align-items-center">
										<div class="text-gd text-center w-100">
											<h6>Aprendendo do zero Pfsense para gestão de redes</h6>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 03 e 04 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> LABCOMP</li>
									<li><i class="ti-time text-gd"></i> 13:30h às 17:00h</li>
									<li><i class="ti-paper text-gd">REQUISITOS:</i> Conhecimento intermediário em Redes</li>

									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="https://bit.ly/2XunbFB" target="blank" class="site-button radius-xl outline full-width">Saiba mais</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li class="course-title  d-flex align-items-center">
										<div class="text-gd text-center w-100">
											<h6>Usando Ethereum, Solidity e Smart Contracts para criar aplicativos com base em blockchain</h6>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 02 e 04 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> CED</li>
									<li><i class="ti-time text-gd"></i> 13:30h às 17:00h</li>
									<li><i class="ti-paper text-gd">REQUISITOS:</i> Conhecimento básico em Javascript e NPM</li>


									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="https://bit.ly/2H6I4AV" target="blank" class="site-button radius-xl outline full-width">Saiba mais</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li class="course-title d-flex align-items-center">
										<div class="text-gd text-center w-100">
											<h6>Criando aplicativos para Androids, iOS e Windows usando C#/Xamarin.Forms</h6>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 01 e 03 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> PET</li>
									<li><i class="ti-time text-gd"></i> 13:30h às 17:00h</li>
									<li><i class="ti-paper text-gd">REQUISITOS:</i> Conhecimento em lógica de programação </li>

									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="https://bit.ly/2IGFjZy" target="blank" class="site-button radius-xl outline full-width">Saiba mais</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-6 col-lg-3  m-b30">
						<div class="pricingtable-wrapper">
							<div class="pricingtable-inner text-left active">

								<ul class="pricingtable-features">
									<li class="course-title d-flex align-items-center">
										<div class="text-gd text-center w-100">
											<h6>Introdução ao Desenvolvimento Web</h6>
										</div>
									</li>
									<li><i class="ti-calendar text-gd"></i> 01 e 05 de Abril</li>
									<li><i class="ti-location-pin text-gd"></i> LABCOMP</li>
									<li><i class="ti-time text-gd"></i> 13:30h às 17:00h</li>
									<li><i class="ti-paper text-gd">REQUISITOS:</i> Nenhum conhecimento prévio</li>

									<div class="pricingtable-price">
										<div>
											<span class="pricingtable-bx">Valor: R$ 19,99</span>
										</div>
										<p class="m-b0">Inscrição e pagamento efetuados na sede do PET Computação.</p>
									</div>
								</ul>

								<div class="pricingtable-footer"> <a href="https://bit.ly/2Hvyt80" class="site-button radius-xl outline full-width">Saiba mais</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Courses END -->


		<!-- Marathon -->

		<div class="section-full content-inner app-gallery bg-white owl-btn-center-lr owl-nav-lr raindrop" id="marathon">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="h2 text-uppercase">Maratona de Programação</h2>
					<div class="dlab-separator bg-primary"></div>
					<p>Chame seus amigos, monte sua equipe e venha testar seus conhecimentos em programação. Confira o <a href="https://drive.google.com/file/d/1ZcsPIWoP8KnN-yjfM5K7P1jgoZjPwcpC/view" class="text-gd"target="blank"><b>Edital</b></a></p>
				</div>
				<div class="row">

					<div class="col-lg-6 col-md-7 equal-col dis-tbl app-content">
						<div class="section-head inner-haed ">
							<img src="images/maratona.jpg" alt="Maratona de Programação" />
						</div>
					</div>

					<div class="col-lg-6 col-md-7 equal-col dis-tbl app-content">
						<div class="section-head inner-haed ">
							<p>A maratona de programação consiste em uma <b>competição</b>
								destinada aos alunos de Computação e áreas afins.
								O objetivo principal é que os competidores possam colocar
								em prática seus conhecimentos em <b>programação</b> e exercitar
								suas habilidade de <b>trabalho em equipe</b> e de resolver problemas sob pressão.
							</p>
							<p>As equipes devem ter <b>três membros</b>, podendo inscrever também um suplente.
								As <b>linguagens aceitas</b> na competição são C, C++, Python 3 e Java 8.
								O valor da <b>inscrição</b> será de R$20,00 por equipe.
							</p>
							<p>Caso tenha interesse em <b>participar</b>, entre em <b>contato</b> com o PET através
								do e-mail <a class="btn-link" target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=pet.computacao@uece.br">pet.computacao@uece.br</a> ou da nossa página do facebook
								<a class="btn-link" target="_blank" href="https://www.facebook.com/petcompoficial/">PET Computação UECE</a> e entraremos em contato passando maiores informações.
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Marathon -->

		<!-- T-Shirts Section -->
		<div class="section-full content-inner app-gallery bg-white owl-btn-center-lr owl-nav-lr raindrop" id="tshirts">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="h2 text-uppercase">Camisetas</h2>
					<div class="dlab-separator bg-primary"></div>
					<p>Todas as camisetas estarão à venda durante os dias do evento. No valor de R$20,00</p>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="app-carousel owl-loaded owl-theme owl-carousel">
							<div class="item">
								<img src="images/app/b1.jpg" alt="camiseta secomp 2019" />
							</div>
							<div class="item">
								<img src="images/app/b2.jpg" alt="camiseta secomp 2019" />
							</div>
							<div class="item">
								<img src="images/app/r1.jpg" alt="camiseta secomp 2019" />
							</div>
							<div class="item">
								<img src="images/app/r2.jpg" alt="camiseta secomp 2019" />
							</div>
							<div class="item">
								<img src="images/app/w1.jpg" alt="camiseta secomp 2019" />
							</div>
							<div class="item">
								<img src="images/app/w2.jpg" alt="camiseta secomp 2019" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- T-Shirts END -->

	</div>

	<!-- Footer -->
	<footer class="trans-footer bg-dark-blue" id="footer">
		<!-- <div class="moving-bg"></div> -->
		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-6 text-center m-b30">
						<h4>Realização</h4>

						<div class="row">
							<div class="col-lg-6 text-center m-b30">
								<img src="images/logos/uece.png" alt="Universidade Estadual do Ceará" />
							</div>

							<div class="col-lg-5 text-center m-b30">
								<img src="images/logos/pet.png" alt="Pet Computação UECE" />
							</div>
						</div>

					</div>

					<div class="col-lg-6 text-center m-b30">
						<h4>Apoio</h4>

						<div class="row">
							<div class="col-lg-6 text-center m-b30">
								<img src="images/logos/acens.png" alt="Acens Empresa Júnior" />
							</div>

							<div class="col-lg-6 text-center m-b30">
								<img src="images/logos/cryptumlab.png" alt="Cryptumlab" />
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6 text-center m-b30">
								<img src="images/logos/prae.png" alt="PRAE" />
							</div>

							<div class="col-lg-6 text-center m-b30">
								<img src="images/logos/cct.png" alt="CCT" />
							</div>
						</div>

					</div>


				</div>

				<div class="row">
					<div class="col-lg-12 m-t20 text-center">
						<ul class="list-inline">
							© Desenvolvido por: <a target="_blank" href="http://acensjr.com">Acens</a> |
							<li><a target="_blank " href="https://www.instagram.com/acensjr/" class=""><i class="ti-instagram"></i></a></li>
							<li><a target="_blank " href="https://www.facebook.com/acensjunior" class=""><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>

		<!-- Footer END-->
		<!-- scroll top button -->
		<button class="scroltop fa fa-chevron-up"></button>
</div>
