<!DOCTYPE html>
<html>
  <head>
    <title> Panel | Secomp2019 </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- MOBILE SPECIFIC -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render partial: "backsystem/partials/side_bar" %>

    <div class="adminnav">
      <div class="content">
        <ul class="text-right">
          <br>
          <b>Usuário:</b> <%= current_user.email %>
          <%= link_to "Sair", destroy_user_session_path, class:"btn site-button", method: :delete %>
        </ul>
      </div>
    </div>


    <%= yield %>
  </body>
</html>
