<!DOCTYPE html>
<html>
  <head>
    <title> Panel | Secomp2019 </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- MOBILE SPECIFIC -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

      <div class="sidebar">
    		<a><img src="../logo2.png" alt=""></a>
        <a href="#attendances"><i class="fa fa-check-square-o"></i> Presenças</a>
        <a class="active" href="/admin/students"><i class="fa fa-user"></i> Alunos</a>
        <a href="/admin/events"><i class="fa fa-calendar"></i> Eventos</a>
        <a href="/admin/secomps"><i class="fa fa-bookmark"></i> Secomps</a>
      </div>


      <div class="adminnav">
        <div class="content">
          <ul class="text-right">
            <br>
            <a><b>Usuário:</b> <%= current_user.email %></a>
            <a class="btn site-button" <%= link_to "Sair", destroy_user_session_path, method: :delete %></a>
          </ul>
        </div>
      </div>


    <%= yield %>
  </body>
</html>
