<!DOCTYPE html>
<html>
  <head>
    <title> Painel | Secomp2019 </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- MOBILE SPECIFIC -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render partial: "backsystem/partials/side_bar" %>

    <div class="adminnav">
      <div class="content">
        <ul class="text-right">
          <br>
          <b>Usuário:</b> <%= current_user.email %>
          <%= link_to "Sair", destroy_user_session_path, class:"btn site-button", method: :delete, data:
          {confirm: "Deseja realmente sair ?"} %>
        </ul>
      </div>
    </div>


          <% unless notice.blank?%>
            <div class="adminnav">

                  <div class="alert alert-success alert-dismissible fade show" style="float:right; width:500px;">

                      <li><strong><%= notice %><strong></li>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

            </div>
          <%end%>




    <%= yield %>
  </body>
</html>
